@import '../../../variable.scss';

.services {
  background-color: $color-black-0;

  .heading {
    padding-bottom: 50px;
  }
}

.servicesContent {
  display: flex;
  justify-content: space-between;
}

.servicesImageContent {
  flex-basis: 45%;
}

.imageWrapper {
  width: 250px;
  height: 250px;
  position: relative;

  img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.servicesTabsWrapper {
  flex-basis: 55%;
}

.tab-list {
  li {
    font-weight: 700;
    font-size: 5.4rem;
    color: $color-black-3;
    display: block;

    &:not(:last-of-type) {
      padding-bottom: 40px;
    }
  }
}

.tab-list {
  li.active {
    color: $color-white-0;
  }
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .imageWrapper {
    width: 250px;
    height: 250px;
  }

  .tab-list {
    li {
      font-size: 4rem;
    }
  }
}

@media (max-width: 769px) {
  .servicesContent {
    gap: 20px;
  }

  .servicesImageContent {
    flex-basis: 60%;
  }

  .servicesTabsWrapper {
    flex-basis: 40%;
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
  }

  .tab-list {
    li {
      font-size: 3.2rem;

      &:not(:last-of-type) {
        padding-bottom: 30px;
      }
    }
  }
}

@media (max-width: 567px) {
  .servicesContent {
    flex-wrap: wrap;
  }

  .servicesImageContent {
    flex-basis: 100%;
  }

  .servicesTabsWrapper {
    flex-basis: 100%;
  }

  .imageWrapper {
    width: 100%;
    height: 150px;
  }

  .tab-list {
    li {
      font-size: 2.8rem;

      &:not(:last-of-type) {
        padding-bottom: 20px;
      }
    }
  }
}