@import '../../../variable.scss';

.whyus {
    background-color: $color-black-0;
    .heading {
        flex-basis: 60%;
    }
}

.whyusHeading {
    @extend %justify-between;
    padding-bottom: 30px;
}

.whyusHeadingImage {
    flex-basis: 40%;
    text-align: center;
    img {
        max-width: 200px;
    }
}

.whyusWrapper {
    @extend %justify-between;
    gap: 30px;
    padding-top: 50px;
}

.whyusCard {
        border: 2px solid $color-white-0;
        padding: 34px 24px;
        border-radius: 8px;
    h3 {
        padding-top: 30px;
        font-size: 2rem;
        font-weight: 700;
    }
    p {
        padding-top: 15px;
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

@media (max-width: 769px) {
 .whyusWrapper {
    flex-wrap: wrap;
    flex-direction: column;
 }
 .whyusCard {
    width: 100%;
    padding: 20px;
    h3 {
        padding-top: 20px;
    }
 }   
}

@media (max-width: 569px) {
    .whyusHeading {
        flex-direction: column;
    }   
}