$color-black-0: #000000;
$color-black-1: #212121a6;
$color-black-2: #212121;
$color-black-3: #808080;
$color-black-4: #0f181a;

$color-white-0: #ffffff;
$color-white-1: #c4c4c4;

%align-center {
    display: flex;
    align-items: center;
}

%align-end {
    display: flex;
    align-items: flex-end;
}

%justify-center {
    display: flex;
    justify-content: center;
}

%justify-between {
    display: flex;
    justify-content: space-between;
}

%align-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%align-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%align-end-justify-between {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

%align-end-justify-end {
    display: flex;
    align-items: end;
    justify-content: end;
}